ImpactECS/.idea/**
ImpactECS/ImpactECS/obj/**
ImpactECS/ImpactECS/bin/**
ImpactECS/packages/**
ImpactECS/UnitTests/bin/**
ImpactECS/UnitTests/obj/**
ImpactECS/ImpactECS.sln.DotSettings.user
ImpactECS/UnitTests/bin/Debug/ImpactECS.dll
ImpactECS/UnitTests/bin/Debug/ImpactECS.pdb
